div .container {
    display: flex;
}
div .containerHaut {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43%;
}
div .containerBas {
    display: flex;
    justify-content: space-between;
}
